/* 记录notes CSS*/
.ethan-notes {
    display: grid;
    min-height: 88%;
    grid-template-columns: 20% auto;
    padding: 50px;
    grid-gap :0 40px;
    .notes-card-header{
        background-color: #D8DCE3;
    }
    .notes-card-body{
        height: 740px;
        overflow-y: auto;
    }
    .notes-card-nav{
        cursor: pointer;
        margin: 4px;
        border-radius: 4px;
        p{
            text-indent: 2em;
            padding: 10px 4px;
        }

        span{
            display: block;
            color:#999;
            padding: 8px 4px;
        }
    }
    /*nav高亮 CSS*/
    .active-nav{
        background-color: lightblue;
    }
    /*nav高亮 CSS END*/
}


/* 记录notes CSS END*/