.ethan-progress{
    position: relative;
    height: 6px;
    border-radius: 4px;
    background-color: #f6f6f6;
    .ethan-progress-cover{
        position: absolute;
        background-color:lightsalmon; 
    }
    .ethan-progress-move{
        position: absolute;
        background-color: red;
        .ethan-progress-round{
            width: 6px;
            height: 6px;
            // float: right;
        }
        .ethan-progress-tip{
            bottom: 12px;
            left: -12px;
            .ethan-tooltip-title{
                min-width: 32px;
                min-height: 10px;
                padding:6px;
                font-size: 12px;
                background-color: #ace1ea;
                color: #666;
            }
            .ethan-tooltip-title-round{
                display: none ;
            }
        }
    }
    .ethan-progress-time-length{
        position: absolute;
        top:39px;
        right: 8px;
        font-size: 12px;
    }
}